button {
    background-color: rgb(31, 31, 228);
    padding: 3;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
}

#rooms {



    display: grid;
    grid-template-columns:2fr 1fr 1fr 1fr r; 
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
        "conference_room conference_room empty_div1 serveur_room securete_room"
        "reception_room reception_room empty_div2 empty_div3 empty_div4 "
        "reception_room reception_room empty_div5  personell_room  archives_room ";
}

#conference_room { grid-area: conference_room;   }
.empty_div1{ grid-area: empty_div1;}
#serveur_room {grid-area: serveur_room;}
#securete_room { grid-area: securete_room; }
#reception_room { grid-area: reception_room; }
.empty_div2{ grid-area: empty_div2;}
.empty_div3{ grid-area: empty_div3;}
.empty_div4{ grid-area: empty_div4;}
.empty_div5{ grid-area: empty_div5;}
#personell_room { grid-area: personell_room; }
#archives_room { grid-area: archives_room; ; }

.error{
    font-size: 12px;
    color: red;
}

/* .hidden_modal{
    display: none;
} */