button {
    background-color: rgb(31, 31, 228);
    padding: 3;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
}

  @media (min-width: 1024px) {
        #rooms {
          display: grid;
          gap: 0.5rem;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-areas:
            "conference_room conference_room empty_div1 serveur_room securete_room"
            "reception_room reception_room empty_div2 empty_div3 empty_div4"
            "reception_room reception_room empty_div5 personell_room archives_room";
        }

        #conference_room {
          grid-area: conference_room;
        }

        #serveur_room {
          grid-area: serveur_room;
        }

        #securete_room {
          grid-area: securete_room;
        }

        #reception_room {
          grid-area: reception_room;
        }

        #personell_room {
          grid-area: personell_room;
        }

        #archives_room {
          grid-area: archives_room;
        }

        .emptyDiv1 {
          grid-area: empty_div1;
        }

        .emptyDiv2 {
          grid-area: empty_div2;
        }

        .emptyDiv3 {
          grid-area: empty_div3;
        }

        .emptyDiv4 {
          grid-area: empty_div4;
        }

        .emptyDiv5 {
          grid-area: empty_div5;
        }
      }

      @media (min-width: 768px) and (max-width: 1023px) {
        #rooms {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1rem;
        }
        
        .emptyDiv1, .emptyDiv2, .emptyDiv3, .emptyDiv4, .emptyDiv5 {
          display: none;
        }
      }

      @media (max-width: 767px) {
        #rooms {
          display: grid;
          grid-template-columns: 1fr;
          gap: 1rem;
        }
        
        .emptyDiv1, .emptyDiv2, .emptyDiv3, .emptyDiv4, .emptyDiv5 {
          display: none;
        }
      }

.error {
    font-size: 12px;
    color: red;
}

.not_accsess_room::before{
   content: "";
   background-color: rgba(255, 10, 10, 0.2);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
  
}
